<%- include("../partials/admin/header.ejs") %>

<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/admin/addProduct.css">
<section class="content-main">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="content-header">
                <h2 class="content-title">Add New Product</h2>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Product Details</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="/admin/addproduct" enctype="multipart/form-data" id="addproductForm">
                        <!-- Product Title -->
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Product Name</label>
                            <input type="text" placeholder="Type here" name="name" class="form-control" id="product_name">
                            <div class="error-msg" id="err-1"></div>
                        </div>

                        <!-- Full Description -->
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" name="description" class="form-control" id="description" rows="4"></textarea>
                            <div class="error-msg" id="err-2"></div>

                        </div>
                        <div class="media-upload-container">
                            <!-- Media Upload 1 -->
                            <div class="media-upload">
                                <label class="form-label">Product Media 1</label>
                                <div class="input-upload">
                                    <img src="" id="viewimg1" class="preview-image" alt="Original Image">
                                    <input type="file" name="images" id="input1" accept="image/png, image/jpg, image/jpeg" onchange="viewImage(event, 1)">
                                    <div class="error-msg" id="err-3"></div>
                                </div>
                                <button type="button" id="saveButton1" class="btn-save">Save</button>
                                <div class="cropped-container">
                                    <img src="" id="croppedImg1" class="cropped-preview">
                                </div>
                            </div>
                            <!-- Media Upload 2 -->
                            <div class="media-upload">
                                <label class="form-label">Product Media 2</label>
                                <div class="input-upload">
                                    <img src="" id="viewimg2" class="preview-image" alt="Original Image">
                         
                                   <input type="file" name="images" id="input2" accept="image/png, image/jpg, image/jpeg" onchange="viewImage(event, 2)">
                                   <div class="error-msg" id="err-4"></div>
                                </div>
                                <button type="button" id="saveButton2" class="btn-save">Save</button>
                                <div class="cropped-container">
                                    <img src="" id="croppedImg2" class="cropped-preview">
                                </div>
                            </div>
                        
                            <!-- Media Upload 3 -->
                            <div class="media-upload">
                                <label class="form-label">Product Media 3</label>
                                <div class="input-upload">
                                    <img src="" id="viewimg3" class="preview-image" alt="Original Image">
                                    <input type="file" name="images" id="input3" accept="image/png, image/jpg, image/jpeg" onchange="viewImage(event, 3)">
                                    <div class="error-msg" id="err-5"></div>
                                </div>
                                <button type="button" id="saveButton3" class="btn-save">Save</button>
                                <div class="cropped-container">
                                    <img src="" id="croppedImg3" class="cropped-preview">
                                </div>
                            </div>
                        </div>
                        
                        
                        <!-- Pricing -->
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <label class="form-label">Regular Price</label>
                                <input placeholder="$" type="text" name="regularPrice" id="regularPrice" class="form-control">
                                <div class="error-msg" id="err-6"></div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <label class="form-label">Sale Price</label>
                                <input placeholder="$" type="text" name="salePrice" id="salePrice" class="form-control">
                                <div class="error-msg" id="err-7"></div>
                            </div>
                        </div>

                        <!-- Additional Fields -->
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <label class="form-label">Color</label>
                                <input type="text" name="color" id="color" placeholder="e.g., Red, Blue" class="form-control">
                                <div class="error-msg" id="err-8"></div>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <label class="form-label">Quantity</label>
                                <input type="number" placeholder="e.g., 50" name="quantity" id="quantity" class="form-control">
                            </div>
                        </div>

                        <!-- Product Offer -->
                        <div class="mb-4">
                            <label class="form-label">Product Offer</label>
                            <input type="text" placeholder="e.g., Buy 1 Get 1 Free" id="offer" name="offer" class="form-control">
                            <div class="error-msg" id="err-9"></div>
                        </div>

                        <!-- Product Status -->
                        <div class="mb-4">
                            <label class="form-label">Product Status</label>
                            <select name="status" id="status" class="form-select">
                                <option>Available</option>
                                <option>Out of Stock</option>
                                <option>Discounted</option>
                            </select>
                        </div>

                

                        <!-- Category and Tags -->
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <label class="form-label">Category</label>
                                <select name="category" id="category" class="form-select">
                                    <% for (let i = 0; i < category.length; i++) { %>
                                        <option value="<%= category[i].name %>" ><%= category[i].name %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                       

                        <!-- Submit Button -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary rounded">Submit Product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
<script src="/scripts/admin/addProduct.js" ></script>


<%- include("../partials/admin/footer.ejs") %>
