<%- include("../partials/admin/header.ejs") %> 

<style>
    .error-msg {
        color: red;
    }
    .form-container {
        min-height: 100vh; /* Full viewport height */
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<!-- Add Parent Category Form -->
<div class="form-container">
    <div class="col-md-6">
        <h2 class="content-title card-title text-center">Create Parent Category</h2>
        <form action="#" onsubmit="addParentCategory(event)" id="addParentCategoryForm" method="post">
            <div class="mb-4">
                <label for="parent_name" class="form-label">Parent Name</label>
                <input type="text" placeholder="Type here" class="form-control" name="parent_name" id="parent_name" />
                <div class="error-msg" id="err1"></div>
            </div>
            <div class="mb-4">
                <label class="form-label">Parent Description</label>
                <textarea placeholder="Type here" name="parent_description" id="parent_description" class="form-control"></textarea>
                <div class="error-msg" id="err2"></div>
            </div>
            <div class="d-grid">
                <button class="btn btn-primary" type="submit">Create Parent Category</button>
            </div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script src="/scripts/admin/addParentCategory.js" ></script>
<%- include("../partials/admin/footer.ejs") %> 
