body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
}

.header {
    background: linear-gradient(90deg, #ffa500, #ff7f50);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header .logo {
    font-size: 26px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 250px;
    height: calc(100% - 70px);
    background: linear-gradient(180deg, #ffa500, #ffd27f);
    color: white;
    padding-top: 10px;
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.2);
}

.sidebar a {
    display: flex;
    align-items: center;
    color: black;
    padding: 12px 20px;
    margin: 5px 15px;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.sidebar a:hover,
.sidebar a.active {
    background: rgba(255, 255, 255, 0.3);
    color: white;
}

.content {
    margin-left: 270px;
    padding: 20px;
    padding-top: 100px;
}

.product-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
}

.btn-custom {
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #ffa500;
    color: white;
}

.no-orders {
    text-align: center;
    margin-top: 50px;
}

.no-orders img {
    width: 200px;
    margin-bottom: 20px;
}


.no-orders a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    color: white;
    background-color: #ffa500;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.no-orders a:hover {
    background-color: #ff7f50;
}

svg {
    color: #000000;
    cursor: pointer;
    transition: color 0.3s;
    width: 30px;
}

svg:hover {
    color: #ffffff;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    color: #ffa500;
    border: 1px solid #ffa500;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a.btn-secondary {
    background-color: #ffa500;
    color: #fff;
    cursor: default;
    pointer-events: none;
}

.pagination a:hover {
    background-color: #ffa500;
    color: #fff;
}

.pagination a.disabled {
    color: #6c757d;
    border-color: #6c757d;
    cursor: not-allowed;
    pointer-events: none;
}