.user-container {
  position: relative;
  display: inline-block;
}

.user-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 60px;
}

.user-name {
  font-size: 14px;
  margin: 2px 0 0 0;
  text-align: center;
  min-height: 18px;
  color: #333;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-container {
  cursor: pointer;
}

.user-name {
  margin-left: 10px;
  font-size: 16px;
}

.user-name.empty {
  display: none;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  min-width: 150px;
}

.dropdown-menu a {
  padding: 8px 16px;
  display: block;
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  background-color: #d4d4d4;
}

.dropdown-container.active .dropdown-menu {
  display: block;
}

#latest-products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid rgb(131, 131, 131);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.product-card {
  width: 22%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: rgb(248, 221, 169);
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-name {
  font-size: 1.1em;
  font-weight: bold;
  margin: 10px 0;
}

.product-price {
  color: green;
  font-size: 1.2em;
}

.view-more {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.success-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.message {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(250, 150, 7)0;
}

.timer {
  font-size: 18px;
  color: #000000;
}

.redirect-link {
  margin-top: 20px;
  font-size: 16px;
  color: rgb(250, 150, 7);
  text-decoration: none;
}

.redirect-link:hover {
  text-decoration: underline;
}