body {
    background-color: #fda500;
    margin: 0;
    padding: 0;
}

.otp-container {
    max-width: 75%;
    height: auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.key-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.otp-input {
    position: relative;
    margin-bottom: 10px;
}

.otp-input input {
    padding-left: 40px;
}

.timer {
    color: #fda500;
}

@media (max-width: 991px) {
    .otp-container {
        width: 90%;
    }
}