body {
    background-color: #FFA500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.signup-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-card {
    background-color: #fff;
    padding: 2rem;
    max-width: 50%;
    width: 100%;
    box-shadow: none;
    height: auto;
}

.logo-container {
    max-width: 50%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
}

.form-card input {
    border-radius: 20px;
}

.google-btn {
    border-radius: 20px;
    font-size: 14px;
}

.logo-container img {
    display: flex;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.error-message {
    color: red;
    font-size: 0.75rem;
    display: none;
}

.message {
    color: red;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
}