body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #fff;
}

.content {

  margin-left: 130px;
  padding: 0px;
  padding-top: 50px;
}

.order-container {
  width: 80%;
  margin: 2rem auto;
  background: #ffa500;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1,
h3 {
  text-align: center;
}

.receipt-details {
  text-align: center;
  margin-bottom: 1.5rem;
}

.receipt-details span {
  color: #ddd;
}

.product-details {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.product-details img {
  width: 100px;
  border-radius: 8px;
}

.product-info {
  flex: 1;
}

.product-info h2 {
  margin: 0;
  font-size: 1.5rem;
}

.product-info p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.actions {
  text-align: center;
  margin: 1rem 0;
}

.btn-disabled {
  background: #6d6868;
  color: #070606;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 4px;
  cursor: not-allowed;
}

.order-summary {
  text-align: left;
}

.order-summary p,
.order-summary h4 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.order-summary span {
  color: #ddd;
}

.cost-details p {
  display: flex;
  justify-content: space-between;
}

.cancel-btn {
  display: block;
  width: 100%;
  padding: 0.8rem;
  background: #ff4d4d;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

.cancel-btn:hover {
  background: #e64545;
}

svg {
  color: #000000;
  cursor: pointer;
  transition: color 0.3s;
  width: 30px;
}

svg:hover {
  color: #ffffff;
}