.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

h2 {
    margin: 0;
}

button {
    margin-top: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    color: #f0b639;
    border: 1px solid #f0b639;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a.btn-secondary {
    background-color: #f0b639;
    color: #fff;
    cursor: default;
    pointer-events: none;
}

.pagination a:hover {
    background-color: #f0b639;
    color: #fff;
}

.pagination a.disabled {
    color: #6c757d;
    border-color: #6c757d;
    cursor: not-allowed;
    pointer-events: none;
}